
.idea/

.vs/

Notifications.Api/bin/

Notifications.Api/obj/

Notifications.Business/bin/

Notifications.Business/obj/

Notifications.ClientHttp/bin/

Notifications.ClientHttp/obj/

Notifications.Repository/bin/

Notifications.Repository/obj/

Notifications.Shared/bin/

Notifications.Shared/obj/

Registry.Shared/obj/

Registry.Shared/bin/

Registry.Repository/obj/

Registry.Repository/bin/

Registry.Api/bin/

Registry.Api/obj/
